<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <title>Login page</title>
</head>
<body>
    <h1>Login below</h1>
    <form action="login" method="post">
        <p>Username: <input id="user" type="text" name="user_name" /></p>
        <p>Password: <input id="password" type="text" name="password" /></p>
        <button type="submit">Login</button>
    </form>
    <p>Or register below!</p>
    <a href="/users">
        <button>Register</button>
    </a>
</body>
</html>
