<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <title>Reader Home</title>
</head>
<body>
    <h1>Reader Home</h1>
    <a href="/"><button>Front page</button></a>
        <ul>
            <% articles.forEach(function(article){ %>
            <h3><%=article.title%><h3>
            <h4><%=article.author_name %>, <%=article.created%></h4>
            <a href="/reader/<%=article.article_id%>"><button>Visit article</button></a>
            <% }) %>
        </ul>
</body>
</html>
