<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <title>Reader Home</title>
</head>
<body>
    <h1>Reader Home</h1>
    <a href="/"><button>Front page</button></a>

    <ul>
        <% blogs.forEach(function(blog){ %>
        <li>
            <h4>Blog title: <%=blog.blog_title %></h4>
            <h4>Author name: <%=blog.author_name %></h4>
            <a href="/reader/blog/<%=blog.user_id%>"><button>Visit blog</button></a>
        </li>
        <% }) %>
    </ul>
</body>
</html>
