<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <title>Register</title>
</head>
<body>
    <h1>Register below</h1>
    <form action="/users/add-user" method="post">
        <p>Email: <input id="email" type="text" name="email" /></p>
        <p>Username: <input id="user" type="text" name="user_name" /></p>
        <p>Password: <input id="password" type="password" name="password" /></p>
        <button type="submit">Register</button>
    </form>
</body>
</html>
